{% extends 'base.html.twig' %}

{% block title %}Edit Piece{% endblock %}

{% block body %}
    <h1>Edit Piece</h1>

    {{ include('piece/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('piece_index') }}">back to list</a>

    {{ include('piece/_delete_form.html.twig') }}
{% endblock %}
