{% extends 'base.html.twig' %}

{% block title %}New Piece{% endblock %}

{% block body %}
    <h1>Create new Piece</h1>

    {{ include('piece/_form.html.twig') }}

    <a href="{{ path('piece_index') }}">back to list</a>
{% endblock %}
