<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.1/phpunit.xsd"
        backupGlobals="false"
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="-1" />
        <!-- <server name="KERNEL_DIR" value="./app/" /> older-style -->
        <server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/persistence/chesslite.db" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

</phpunit>