{% extends 'base.html.twig' %}

{% block title %}New Matrix{% endblock %}

{% block body %}
    <h1>Create new Matrix</h1>

    {{ include('matrix/_form.html.twig') }}

    <a href="{{ path('matrix_index') }}">back to list</a>
{% endblock %}
